*.sdf
*.opensdf
*.ilk
*.aps
*.suo
*.tlog
*.log
*.lastbuildstate
*.obj
!src/build/**/*.obj
*.res
*.suo
*.7z
*.zip
*.test
*.tcl
*.pdb
!src/sandbox/**/*.pdb
*.vcxproj
*.filters
/src/out/Debug/
/src/out/Release/
/src/out/Release_Rt/
/src/out/Release_x64/
/src/out/Debug_x64/
/src/out/Debug_D/
OUT_BUILD/*


